<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="webserver-host" value="127.0.0.1"/>
    <add key="webserver-port" value="8080"/>
    <add key="Path" value="C:\Users\mdixit\Desktop\startbootstrap-sb-admin-1.0.3"/>
    <add key="default-document" value="\index.html"/>
    <add key="static-file-handler" value="html,txt,css,js,jpg,png,woff2,woff,ttf,ico"/>

  </appSettings>
</configuration>