<?xml version="1.0"?>
<configuration>
 
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"/>
    <sectionGroup name="spectrum">
      <section name="modules" type="Tavisca.Frameworks.Spectrum.Configuration.ModulesConfigurationSection, Tavisca.Frameworks.Spectrum"/>
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="embeddedFileAssemblies" type="Tavisca.Templar.Framework.WebConfigSectionHandlers.StringCollectionSectionHandler, Tavisca.Templar.EmbeddedResourcePathProvider"/>
    <section name="dataCacheClient" allowDefinition="Everywhere" allowLocation="true" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>


  <dataCacheClient requestTimeout="15000" channelOpenTimeout="3000">
    <!-- (optional) specify local cache -->
    <localCache isEnabled="true" objectCount="100000" sync="TimeoutBased" ttlValue="300"/>
    <!--(optional) specify cache notifications poll interval 
      <clientNotification pollInterval="300" /> -->
    <hosts>
      <host name="TAV-S011" cachePort="22233"/>
    </hosts>
    <securityProperties mode="None" protectionLevel="None"/>
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="26843545600" maxBufferSize="838860800" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="900000"/>
  </dataCacheClient>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="TemplarLogOnly">
        <exceptionTypes>
          <add name="Exception" postHandlingAction="None" type="System.Exception, mscorlib">
            <exceptionHandlers>
              <add name="TemplarLogging Handler" databaseInstanceName="ExceptionDB" isEnabled="true" enableAysncLogging="true" eventId="100" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" logCategory="General" priority="0" severity="Error" title="Enterprise Library Exception Handling" type="Tavisca.Templar.Framework.ExceptionHandling.CustomDBLoggingHandler, Tavisca.Templar" useDefaultLogger="false"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <embeddedFileAssemblies>
    <add value="Tavisca.Templar"/>
    <add value="Tavisca.Templar.SetUp"/>
  </embeddedFileAssemblies>
  <spectrum>
    <modules>
      <module name="Tavisca.Templar.Repositories.RepositoryInitializer" assemblyName="Tavisca.Templar"/>
    </modules>
  </spectrum>
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="ITemplarAdminAuthProvider" type="Tavisca.Templar.Extensions.Providers.ITemplarAdminAuthProvider, Tavisca.Templar.Extensions"/>
      <typeAlias alias="DefaultTemplarAdminAuthProvider" type="Tavisca.Templar.Framework.Providers.DefaultTemplarAuthenticationProvider, Tavisca.Templar"/>
      <typeAlias alias="IFileSystemRepository" type="Tavisca.FileManager.Repository.IFileSystemRepository, Tavisca.Templar"/>
      <typeAlias alias="FileSystemRepository" type="Tavisca.FileManager.Repository.FileSystemRepository, Tavisca.Templar"/>
      <typeAlias alias="DBFileSystemRepository" type="Tavisca.FileManager.Repository.DbFileSystemRepository, Tavisca.Templar"/>
      <typeAlias alias="IAuthenticationProvider" type="Tavisca.Templar.Contract.IAuthenticationProvider, Tavisca.Templar.Contract"/>
      <typeAlias alias="AuthenticationProvider" type="Tavisca.Templar.Extensions.Providers.DefaultAuthenticationProvider, Tavisca.Templar.Extensions"/>
      <typeAlias alias="ILayoutProvider" type="Tavisca.Templar.Extensions.Providers.ILayoutProvider, Tavisca.Templar.Extensions"/>
      <typeAlias alias="DefaultLayoutProvider" type="Tavisca.Templar.Portal.DefaultLayoutProvider, Tavisca.Templar"/>
      <typeAlias alias="ICultureResolver" type="Tavisca.Templar.Extensions.Providers.ICultureResolver, Tavisca.Templar.Extensions"/>
      <typeAlias alias="DefaultCultureResolver" type="Tavisca.Templar.Framework.Providers.DefaultCultureResolver, Tavisca.Templar"/>
      <typeAlias alias="IMinifier" type="Tavisca.Templar.Extensions.Providers.IMinifier, Tavisca.Templar.Extensions"/>
      <typeAlias alias="TemplarDefaultMinifier" type="Tavisca.Templar.Web.Optimization.TemplarDefaultMinifier, Tavisca.Templar"/>
    </typeAliases>
    <containers>
      <container name="root">
        <types>
          <type mapTo="Tavisca.Frameworks.Spectrum.Services.SiteLocatorService, Tavisca.Frameworks.Spectrum" type="Tavisca.Frameworks.Spectrum.Interfaces.ISiteLocator, Tavisca.Frameworks.Spectrum">
            <lifetime type="singleton"/>
          </type>
          <type mapTo="TemplarDefaultMinifier" type="IMinifier">
            <lifetime type="singleton"/>
          </type>
          <type mapTo="DefaultTemplarAdminAuthProvider" type="ITemplarAdminAuthProvider">
            <lifetime type="singleton"/>
          </type>
          <type mapTo="DefaultLayoutProvider" type="ILayoutProvider">
            <lifetime type="singleton"/>
          </type>
          <type mapTo="FileSystemRepository" type="IFileSystemRepository">
            <lifetime type="singleton"/>
          </type>
          <type mapTo="AuthenticationProvider" type="IAuthenticationProvider">
            <lifetime type="singleton"/>
          </type>
          <type mapTo="DefaultCultureResolver" type="ICultureResolver">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="TemplarDB" connectionString="Data Source=TAVWITPD041;Initial Catalog=TemplarDB;Persist Security Info=True;User id=sa ;password=test123!@# " providerName="System.Data.SqlClient" />
    <add name="FileManagerDB" connectionString="Data Source=TAVWITPD041;Initial Catalog=TemplarDB;Persist Security Info=True;User id=sa ;password=test123!@#" providerName="System.Data.SqlClient" />
    <add name="ExceptionDB" connectionString="Data Source=TAVWITPD041;Initial Catalog=TemplarDB;Persist Security Info=True;User id=sa ;password=test123!@#" providerName="System.Data.SqlClient" />
    <add name="AuditLogDB" connectionString="Data Source=TAVWITPD041;Initial Catalog=TemplarDB;Persist Security Info=True;User id=sa ;password=test123!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Templar Settings -->
    <!--<add key="Templar.IsFirstUse" value="N"/>-->
	<add key="Templar.EnableWebOptimization" value="N"/>
    <add key="employeeserviceurl" value="http://localhost:53412/EmployeeService.svc/"/>
    <add key="employeemanagementserviceurl" value="http://localhost:53412/EmployeeManagementService.svc/"/>
    <add key="EmployeePage" value="ShowRemarks"/>
    <add key="AddEmployee" value="AddEmployee"/>
    <add key="AddRemark" value="AddRemark"/>
    <add key="LoginPage" value="Login"/>
    <add key="ChangePassword" value="ChangePassword"/>
    <add key="LogoutPage" value="Logout"/>
    <add key="Success" value="200"/>
  </appSettings>
  <location path="Templar/Home.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Templar/Pages/CacheRefresh.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Templar/Pages/Designer.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Templar/Pages/DesignPreview.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!--Security note: HTTP Only cookies should always be used. requireSSL should be set to true for all sites that use SSL.-->
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <globalization culture="en-US" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-US"/>
    <httpRuntime executionTimeout="240" maxRequestLength="102400" requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <machineKey validation="SHA1"/>
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState compressionEnabled="true" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="60"/>
    <healthMonitoring enabled="true">
      <eventMappings>
        <clear/>
        <add name="All Errors" endEventCode="2147483647" startEventCode="0" type="Tavisca.Templar.Framework.WebLogger.WebErrorEvent, Tavisca.Templar"/>
        <add name="Feedback" endEventCode="2147483647" startEventCode="0" type="Tavisca.Templar.Framework.WebLogger.WebFeedbackEvent, Tavisca.Templar"/>
      </eventMappings>
      <providers>
        <clear/>
        <add name="WebEventProvider" buffer="false" connectionStringName="TemplarDB" type="Tavisca.Templar.Framework.WebLogger.WebEventProvider,Tavisca.Templar"/>
        <add name="FeedBackEventProvider" buffer="false" connectionStringName="TemplarDB" type="Tavisca.Templar.Framework.WebLogger.FeedBackEventProvider,Tavisca.Templar"/>
      </providers>
      <rules>
        <clear/>
        <add name="All Errors Default" eventName="All Errors" maxLimit="Infinite" minInstances="1" minInterval="00:00:00" profile="Default" provider="WebEventProvider"/>
        <add name="Feedback Default" eventName="Feedback" maxLimit="Infinite" minInstances="1" minInterval="00:00:00" profile="Default" provider="FeedBackEventProvider"/>
      </rules>
    </healthMonitoring>

    <authentication mode="Forms">
      <forms name="AuthCookie" defaultUrl="~/Templar/Home.aspx" loginUrl="~/Templar/Login.aspx" path="/" timeout="60"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors defaultRedirect="~/Templar/Pages/ErrorPages/ErrorPage.aspx" mode="On">
      <error redirect="~/Templar/Pages/ErrorPages/ErrorPage.aspx?msgId=1" statusCode="401"/>
      <error redirect="~/Templar/Pages/ErrorPages/ErrorPage.aspx" statusCode="404"/>
      <error redirect="~/Templar/Pages/ErrorPages/ErrorPage.aspx?msgId=2" statusCode="500"/>
    </customErrors>
    <pages clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.5" maintainScrollPositionOnPostBack="true" theme="" validateRequest="true" viewStateEncryptionMode="Always">
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajax"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" namespace="System.Web.UI" tagPrefix="asp" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" namespace="System.Web.UI.WebControls" tagPrefix="asp" />
        <add assembly="Tavisca.Templar.WebControls" namespace="Tavisca.Templar.WebControls" tagPrefix="gtc"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" verb="*" />
      <add path="*_AppService.axd" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" verb="*" />
      <add path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" verb="GET,HEAD" />
      <add path="ClientLogger.axd" type="Tavisca.Templar.Framework.WebLogger.ClientLoggerHandler, Tavisca.Templar" verb="*"/>
    </httpHandlers>
    <httpModules>
      <add name="RoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="PageSecureModule" type="Tavisca.Templar.Framework.WebPageModule.SecureWebPageModule, Tavisca.Templar"/>
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <system.transactions>
    <defaultSettings timeout="02:00:00"/>
  </system.transactions>
  <system.webServer>
    <!-- Use this as reference for Caching of Static Files http://www.iis.net/ConfigReference/system.webServer/staticContent/clientCache -->
    <staticContent>
      <clientCache cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" doDynamicCompression="true" doStaticCompression="true" dynamicCompressionLevel="7" staticCompressionLevel="7"/>
      <dynamicTypes>
        <clear/>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/*"/>
        <add enabled="true" mimeType="application/json; charset=utf-8"/>
        <add enabled="false" mimeType="*/*"/>
      </dynamicTypes>
      <staticTypes>
        <clear/>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/*"/>
        <add enabled="true" mimeType="application/json; charset=utf-8"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add duration="00:00:30" extension=".axd" kernelCachePolicy="CacheUntilChange" location="Client" policy="DontCache"/>
      </profiles>
    </caching>
    <defaultDocument>
      <files>
        <add value=""/>
      </files>
    </defaultDocument>
    <handlers>
      <!-- Need to find when exactly this configuration is require for running svc request i.e. NewReader-->
      <!--<add name="SVC" path="*.svc" verb="*" type="%SystemRoot%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="integratedMode" />-->
      <add name="ClientLogger" path="ClientLogger.axd" type="Tavisca.Templar.Framework.WebLogger.ClientLoggerHandler, Tavisca.Templar" verb="*"/>
      <!-- For Classic Mode uncomment below lines -->
      <!--32 bit Classic Mode-->
      <!--<add name="SVC-32" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="bitness32;ISAPIMode;runtimeVersionv4.0"/>
      <add name="MVC-32" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="bitness32;ISAPIMode;runtimeVersionv4.0"/>
      -->
      <!--64 bit Classic Mode-->
      <!--<add name="SVC-64" path="*.svc" verb="*" modules="" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="bitness64;ISAPIMode;runtimeVersionv4.0"/>
      <add name="MVC-64" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="bitness64;ISAPIMode;runtimeVersionv4.0"/>
      -->
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- Framework modules start -->
      <remove name="RoutingModule"/>
      <remove name="ScriptModule"/>
      <remove name="PageSecureModule"/>
      <add name="RoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="PageSecureModule" type="Tavisca.Templar.Framework.WebPageModule.SecureWebPageModule, Tavisca.Templar"/>
      <!-- Framework modules end -->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;DynamicAssemblies"/>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="Templar/Services/TemplarWidgetManagementService.svc" service="Tavisca.Templar.Framework.Services.TemplarWidgetManagementService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <!-- basicHttpBinding Framework Area -->
        <binding name="Templar.HttpStreaming" allowCookies="false" bypassProxyOnLocal="false" closeTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="10485760" maxReceivedMessageSize="10485760" messageEncoding="Text" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxArrayLength="10485760" maxBytesPerRead="10485760" maxDepth="10485760" maxNameTableCharCount="10485760" maxStringContentLength="10485760"/>
        </binding>
        <binding name="Templar.BasicHttpBinding_ISyncService" allowCookies="false" bypassProxyOnLocal="false" closeTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="10485760" maxReceivedMessageSize="10485760" messageEncoding="Text" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxArrayLength="10485760" maxBytesPerRead="10485760" maxDepth="10485760" maxNameTableCharCount="10485760" maxStringContentLength="10485760"/>
        </binding>
        <binding name="Templar.BasicHttpsBinding_ISyncService" allowCookies="false" bypassProxyOnLocal="false" closeTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="10485760" maxReceivedMessageSize="10485760" messageEncoding="Text" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxArrayLength="10485760" maxBytesPerRead="10485760" maxDepth="10485760" maxNameTableCharCount="10485760" maxStringContentLength="10485760"/>
          <security mode="Transport"/>
        </binding>
        <!-- basicHttpBinding Framework Area Ends -->
      </basicHttpBinding>
      <webHttpBinding>
        <!-- webHttpBinding Framework Area -->
        <binding name="Templar.REST" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"/>
        </binding>
        <!-- webHttpBinding Framework Area Ends -->
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Templar.SyncServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Templar.DeploymentServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Templar.SiteManagementServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Templar.TemplarWidgetManagementService">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <!-- NET Framework 4.5 -->
        <behavior name="Templar.TemplarFxService">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <!-- NET Framework 4.5 -->
      </serviceBehaviors>
      <endpointBehaviors>
        <!-- endpointBehaviors Framework Area -->
        <behavior name="Templar.json">
          <webHttp helpEnabled="true"/>
        </behavior>
        <!-- endpointBehaviors Framework Area Ends -->
      </endpointBehaviors>
    </behaviors>
    <services>
      <!-- services Framework Area -->
      <service name="Tavisca.Templar.Framework.Services.SyncService" behaviorConfiguration="Templar.SyncServiceBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="Templar.HttpStreaming" contract="Tavisca.Templar.Framework.Services.Interfaces.ISyncService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Tavisca.Templar.Framework.Services.TemplarDeploymentService" behaviorConfiguration="Templar.DeploymentServiceBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="Templar.HttpStreaming" contract="Tavisca.Templar.Framework.Services.Interfaces.ITemplarDeploymentService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Tavisca.Templar.Framework.Services.TemplarSiteManagementService" behaviorConfiguration="Templar.SiteManagementServiceBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="Templar.HttpStreaming" contract="Tavisca.Templar.Framework.Services.Interfaces.ITemplarSiteManagementService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Tavisca.Templar.Framework.Services.TemplarFxService" behaviorConfiguration="Templar.TemplarFxService">
        <endpoint behaviorConfiguration="Templar.json" binding="webHttpBinding" bindingConfiguration="Templar.REST" contract="Tavisca.Templar.Framework.Services.Interfaces.ITemplarFxService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Tavisca.Templar.Framework.Services.TemplarWidgetManagementService" behaviorConfiguration="Templar.TemplarWidgetManagementService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="Templar.HttpStreaming" contract="Tavisca.Templar.Framework.Services.Interfaces.ITemplarWidgetManagementService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <!-- services Framework Area Ends -->
    </services>
    <client>
      <!-- client Framework Area -->
      <endpoint name="BasicHttpBinding_ISyncService" binding="basicHttpBinding" bindingConfiguration="Templar.BasicHttpBinding_ISyncService" contract="Tavisca.Templar.Framework.Services.SyncServiceProxy.ISyncService"/>
      <endpoint name="BasicHttpsBinding_ISyncService" binding="basicHttpBinding" bindingConfiguration="Templar.BasicHttpsBinding_ISyncService" contract="Tavisca.Templar.Framework.Services.SyncServiceProxy.ISyncService"/>
      <!-- Please Update this url as per Current Templar Deployment -->
      <endpoint name="BasicHttpBinding_ITemplarDeploymentService" address="http://yourdomain.com/Templar/Services/TemplarDeploymentService.svc" binding="basicHttpBinding" bindingConfiguration="Templar.BasicHttpBinding_ISyncService" contract="TemplarDeploymentServiceProxy.ITemplarDeploymentService"/>
      <!-- client Framework Area Ends -->
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="true" enableCompression="true"/>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>